<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 text-center">
                <img src="{{ url_for('static', path='images/OCR.png') }}" alt="Logo" class="img-fluid">
                <form id="login-form" class="mt-3">
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="username" placeholder="Email" required>
                    </div>
                    <div class="form-group mt-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required>
                    </div>
                    <button id="connect" type="submit" class="btn btn-info mt-3">Se connecter</button>
                </form>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="error-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Erreur</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="error-toast-body" class="toast-body"></div>
        </div>
    </div>

    <footer class="text-center mt-5">
        <p>&copy; 2025 - Tous droits réservés</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', path='js/login.js') }}"></script>
</body>
</html>